
<link rel="stylesheet" href="../lib/jqcloud2/dist/jqcloud.min.css">

<div class="home-page-container">

    <prebuttcomp></prebuttcomp>

    <!--
        <div class="container text-center">
            <div class="row pagination-buttons">
                <div class="col-4  p-0">
                    <button class="btn btn-sm btn-light browsepage-2nd-nav-btn d-block d-sm-none d-md-none d-lg-none" data-bind="click: changeComp.bind($data, 'search')">
                        search
                    </button>
                </div>
                <div class="col-4 p-0">
                    <button class="btn btn-sm btn-light browsepage-2nd-nav-btn d-block d-sm-none d-md-none" data-bind="click: changeComp.bind($data, 'browse')">
                        browse
                    </button>
                </div>
                <div class="col-4 p-0">
                    <button class="btn btn-sm btn-light browsepage-2nd-nav-btn d-block d-sm-none d-md-none" data-bind="click: changeComp.bind($data, 'wordcloud')">
                        wordcloud
                    </button>
                </div>
            </div>
        </div>-->


    <div class="card">
        <div class="card-body"><p> On this page you can conduct a word2word search with posts from Stackoverflow. The list of words returned by the search will be displayed as a word cloud. (Set max. results to 0 to get the most words returned.)</p></div>
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">

                <span class="input-group-text" id="inputGroup-sizing-lg">Search:</span>
            </div>
            <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" data-bind="value: searchTerms, click: clrsearchfield">
        </div>

        <!-- <input class="form-control form-control-lg" data-bind="value: searchTerms, click: clrsearchfield"> -->
        <!-- <input class="form-control form-control-lg" data-bind="value: searchTerms, click: clrsearchfield, event: {keypress: enter}"> -->
        <div class="container">
            <div class="row">
                <div class="card-body col-xs-4 text-center col-xs-offset-4 center-block">

                    <h6 class="card-link">Max. results:</h6>
                    <!-- <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Max. results:</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" data-bind="value: selectedValue">
                    </div>-->

                    <input type="text" class="form-control form-control-sm w-25 h-25" data-bind="value: selectedValue">

                    <<input type="range" min="0" max="200" class="slider" data-bind="value: selectedValue, valueUpdate: 'input'">
                </div>
                <div class="card-body col-xs-4 text-center">
                    <h6 class="card-link">Searchtype:</h6>
                    <label class="card-link" data-bind="css: { active: stypebtn()=='best'}"><input type="radio" value="best" data-bind="checked: stypebtn" /> BESTMATCH</label>
                    <label class="card-link" data-bind="css: { active: stypebtn()=='tfidf'}"><input type="radio" value="tfidf" data-bind="checked: stypebtn" /> TFIDF</label>

                </div>

                <!-- <select data-bind="options: noofresults, value: getnoofresults,
                event: {change: noofresultschanged}"></select> -->
                <div class="card-body col-xs-4 text-center">
                    <button type="button" class="card-link h-100 w-75 btn btn-light" data-bind="click: cloudupdate">
                        Update Cloud
                    </button>
                </div>
            </div>
        </div>


        <div data-bind="if: loaded">
            <div class="card-body">


                <div id="cloud" class="embed-responsive embed-responsive-4by3 rounded-lg">

                </div>
            </div>
            <div class="card-body card-text">
                <h6 class="card-link">Word List:</h6>
                <div class="container" data-bind="foreach: searchResult">
                    <div class="row">
                        <div class="col" data-bind="text: rank"></div>
                        <div class="col" data-bind="text: term"></div>



                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


