<div class="home-page-container">
    <input class="form-control form-control-lg" data-bind="value: searchTerms">
    <!--<div style="border: 2px solid red">
        <ul data-bind="foreach: searchResult">
            <li>
                <span class="search-rank" data-bind="text: rank"></span>
                <span class="search-title" data-bind="text: questionTitle"></span>
                <span class="search-body" data-bind="text: postBody"></span>
            </li>

        </ul>
    </div>-->


    <div data-bind="if: showTable" class="container">
        <h2>Total results <p data-bind="text: totalResults"></p></h2>
        <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
        <table class="table-responsive table-striped table-hover col-sm">
            <thead class="header-table-style">
                <tr>
                    <th>Rank</th>
                    <th>Title</th>
                    <th>Body</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: searchResult">
                <tr  data-bind="click: $parent.selectSearchResultItem">
                    <td data-bind="text: rank"></td>
                    <td data-bind="text: questionTitle"></td>
                    <td data-bind="html: postBody"></td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>


</div>
<!--<postdetails></postdetails>-->

