
    <div class="home-page-container">
        <button data-bind="click: changeComp.bind($data, 'search')">
            search
        </button>
        <button data-bind="click: changeComp.bind($data, 'browse')">
            browse
        </button>
        <button data-bind="click: changeComp.bind($data, 'wordcloud')">
            wordcloud
        </button>


        <div data-bind="if: loaded" class="container">
            <button data-bind="click: getPg.bind($data, 'prev')">
                prev
            </button>
            <button data-bind="click: getPg.bind($data, 'next')">
                next
            </button>


            Results/page:
            <select data-bind="options: pgsizepreset, value: getpgsize,
               event: {change: pgsizechanged}"></select>


            <div data-bind="with: questionlist">



                <div>Total Questions: <span data-bind="text: totalItems"></span></div>
                <div>Total Pages: <span data-bind="text: numberOfPages"></span></div>
                <div>Previous Page: <span data-bind="text: prev"></span></div>
                <div>Next Page: <span data-bind="text: next"></span></div>



                <ul data-bind="foreach: items">
                    <li>
                        <div>                <span data-bind="text: link"> </span>            </div>
                        <div>                <span data-bind="text: id"> </span>            </div>
                        <div>                <span data-bind="text: title"> </span>            </div>
                        <div>  <span data-bind="text: body"> </span></div>
                    </li>
                </ul>

            </div>

        </div>


    </div>


