<div>

    <h1>Page1 aka Home aka Index</h1>

    <!-- Search form -->
    <div>
        <div class="main-search-bar active-purple-3 active-purple-4 mb-4">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search" data-bind="textInput: search">
        </div>
        <div class="search-result-container">
            <ul data-bind="foreach: searchResult">
                <li>
                    <span data-bind="text: name"></span>
                </li>
            </ul>
        </div>
    </div>

    <!--<input data-bind="textInput: firstName" />
    <input data-bind="textInput: lastName" />
    <div data-bind="text: fullName, visible: showFullName"></div>
    <button data-bind="click: addName">Add</button>
    <input type="checkbox" data-bind="checked: showFullName" />
    <ul data-bind="foreach: names">
        <li>
            <span data-bind="text: $data"></span>
            <button data-bind="click: $parent.delName">Del</button>
        </li>
    </ul>

    <div data-bind="css: currentBox">
        <div data-bind="html: someHtml"></div>
    </div>
    <div><button data-bind="click: changeBox">Change style</button></div>

    <div>
        <select data-bind="options: countries, value: currentCountry"></select>
    </div>-->

</div>