
.navbar-toggler {
   
    background-color: white;
    border: 1px solid white;
   
}
.navbar-collapse {
    font-size: 1.3rem;
}
.navbar-light .navbar-brand {
    color: white;
    font-size: xx-large;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .active > .nav-link {
    font-weight: bold;
    color: white;
}
.mr-auto {
    margin-top: 15px;
    margin-bottom: 15px;
}
a.nav-link.signout-btn {
    padding-left: 0;
    color: white;
    /* border: 1px solid white; */
}

/**********************************HOME PAGE STYLING***************************************/
.home-page-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.home-page-container .form-control.form-control-lg {
    border: 1px solid #17a2b8;
}
    .home-page-container .container > h2 {
        font-size: large;
        color: #17a2b8;
        margin-bottom: 0px;
        display: inline-flex;
    }
h2 > p {
    padding-left: 1rem;
}
.pagination-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.dropdown-containers .label {
    margin-top: 1rem;
    margin-bottom: 0px;
    font-weight: 500;
    color: #17a2b8;
    padding-left: 5px;
}

.selector-dropdown {
    background-color: aliceblue;
    border: 1px solid #17a2b8;
    border-radius: 1rem;
    width: 110px;
}
select {
    color: #17a2b8;
    font-weight: 400;
}

/************************************Tables head******************************************/
.table-responsive{
    padding: 0;
}
.header-table-style {
    background-color: #17a2b8;
    font-size: x-large;
    font-weight: bold;
    color: white;
    text-align: center;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(211, 250, 255);
}

/******************************************Browsing page *************************************/
.browsepage-2nd-nav-btn {
    border: 1px solid #17a2b8;
    color: #17a2b8;
}

.card.post-details-card-container.browsepage {
    margin-top: 0px;
}

/***********************************PostDetails Page***************************************/
.card {
    background-color: #17a2b8;
    margin-top: 30px;
}
.card.post-details-card-container {
        width: auto;
        background-color: #17a2b8;
        margin-top: 30px;
        border: 1px solid aliceblue;
        border-radius: 1rem;
}

.post-details-card-container img {
    max-width: -webkit-fill-available;
    max-block-size: fit-content;
}
.post-card-details-container {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.card-body {
    background-color: aliceblue;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px solid aliceblue;
    border-radius: 1rem;
    /*overflow-y: scroll;
    height: 300px;*/
}
    .card-body.annotations-container {
        overflow-y: scroll;
        height: 300px;
    }
.card-text.annotation-text {
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}
.card-text {
    padding: 0.5rem;
    background-color: white;
}
.card-bottom-link-buttons {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.card-link {
    color: #17a2b8;
    font-size: large;
    font-weight: 500;
}
.card .card-body .card-annotation-collapse-body {
    background-color: white;
}
.card .existing-annotations-content {
    background-color: aliceblue;
    border: 0px;
    margin:0px;
}
.card h6 {
    text-align: center;
    margin-top: 1rem;
}
.card-annotation-body-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}
.card-body.card-annotation-body-content {
    margin-top: 0px;
    margin-bottom: 0px;
}

.modal-content {
    padding: 1rem;
    font-size: larger;
    background-color: aliceblue;
    font-weight: 400;
    text-align: center;
    border: 0.5px solid #17a2b8;
    border-radius: .7rem;
}
.modal.show .modal-dialog {
    top: 30%;
}

textarea {
    width: 100%;
    border: solid 1px aliceblue;
    border-radius: 1rem;
}
h6.card-subtitle {
    color: #17a2b8 !important;
    font-size: larger;
    font-weight: 500;
}
h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}


