<div class="container">
    <div data-bind="if: showspinner" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div  data-bind="ifnot: showspinner" class="card post-details-card-container">
        <div class="card-body" data-bind="foreach: postDetails">
            <div class="post-card-details-container">
                <h5 data-bind="text: title"></h5>
                <p class="card-text" data-bind="html: body"></p>
                <div class="card-bottom-link-buttons">
                    <a href="#" data-bind="attr: { id: id }, click: $parent.addAnnotation" class="card-link">Add Annotation</a>
                    <a href="#" data-bind="attr: { id: id }, click: $parent.addBookmark" class="card-link">Add as Bookmark</a>

                </div>

            </div>
            <div data-bind="if: showAnnotTextArea" class="annotation-text-area-container">
                You will see this message only when 'myValues' has at least one member.
            </div>
        </div>
    </div>

</div>