<div>
    <h3>Bookmark Component</h3>
    <!-- Page Buttons -->
    <div>
        <br>
        <button data-bind="click:prevPage" type="button" class="btn btn-primary btn-sm">Prev Page</button>
        <button data-bind="click:nextPage" type="button" class="btn btn-primary btn-sm">Next Page</button>
        <input data-bind="value: maxPages">
    </div>

    <!-- MaxPage dropdown -->
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Entries pr. page
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#" data-bind="click:maxPages = 5">5</a>
            <a class="dropdown-item" href="#" data-bind="click:maxPages = 10">10</a>
            <a class="dropdown-item" href="#" data-bind="click:maxPages = 15">15</a>
        </div>
    </div>
    
    <!-- Bootstrap table -->
    <div data-bind="with: bookmarkItems" class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">ThreadUrl</th>
                <th scope="col">Date</th>
            </tr>
            </thead>

            <tbody data-bind="foreach: items">
            <tr>
                <td data-bind="text:title"></td>
                <td data-bind="text:threadUrl"></td>
                <td data-bind="text:date"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <button data-bind="click:deletions" type="button" class="btn btn-danger">Delete History</button>
</div>
