<div>
    <h3>History Component</h3>
    <div>
        <br>
        <button data-bind="click:navPage.bind($data, prevUrl()), disable: !prevUrl()" type="button"
                class="btn btn-primary btn-sm">
            Prev Page
        </button>
        <button data-bind="click:navPage.bind($data, nextUrl()), disable: !nextUrl()" type="button"
                class="btn btn-primary btn-sm">
            Next Page
        </button>
    </div>

    <!-- MaxPage dropdown -->
    <div class="dropdown-containers">
        <p class="label">Results/page:</p>
        <select class="selector-dropdown"
                data-bind="options: pgSizeOptions, value: pgSize, event: {change: pageSize}"></select>
    </div>

    <!-- Bootstrap table -->
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Body</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: items">
            <tr style="cursor: pointer" data-bind="click: $parent.selectPostItem.bind($data, threadUrl)">
                
                <td data-bind="text:title"></td>
                <td data-bind="text:body"></td>
                <td data-bind="text:date"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <button data-bind="click:deletions" type="button" class="btn btn-danger">Delete History</button>

</div>