<div>
    <h3>History Component</h3>

    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>ThreadUrl</th>
            <th>Date</th>
        </tr>
        </thead>
        <div>
            <button data-bind="click:deletions">Click</button>
            <br>
            <button data-bind="click:prevPage">Prev Page</button>
            <button data-bind="click:nextPage">Next Page</button>
        </div>

        <tbody data-bind="foreach: historyItems">
        <!--Bind to list-->
        <tr>
            <td data-bind="text:title"></td>
            <td data-bind="text:url"></td>
            <td data-bind="text:date"></td>
        </tr>
        </tbody>

    </table>
</div>
